Source: ros-kinetic-jackal-simulator
Section: misc
Priority: optional
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/jackal_simulator
Standards-Version: 3.9.2

Package: ros-kinetic-jackal-simulator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-jackal-gazebo (>= 0.3)
Description: Packages for simulating Jackal.
